
<div class="container-fluid color-lively-grey min-width-1000 h-75 m-0 max-width-100">
  <!-- Header -->
  <div class="row">
    <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <!-- Page Title -->
      <div class="navbar-header m-2">
        <div class="navbar-brand ml-5"><h1 class="text-color-jet">Application Monitor</h1></div>
      </div>
    </div>

</div>

<!-- Login Component -->
<div class="container-fluid min-width-1000 max-width-100 h-100 w-100 mx-auto">
  <router-outlet></router-outlet>
</div>

<!-- Left Navigation and Main Content-->
<div class="container-fluid max-width-100 w-100 h-100">
  <div class="row">

    <!-- Navigation-->
    <div style="min-width: 200px;" class="col-1 col-sm-1 col-m-1 col-lg-1 col-xl-1 rounded">
      <nav class="nav navbar">
        <ul class="nav navbar-nav">
          <div class="row">
            <li class="btn w-100 nav-item"><a class="nav-link text-color-jet" routerLink="bcon" routerLinkActive="active"><b>BCON</b> </a></li>
          </div>
          <hr class="color-jet">
          <div class="row">
            <li class="btn w-100 nav-item"><a class="nav-link text-color-jet" routerLink="jira" routerLinkActive="active"><b>JIRA</b> </a></li>
          </div>
          <hr>
          <div class="row">
            <li class="btn w-100 nav-item "><a class="nav-link text-color-jet" routerLink="health" routerLinkActive="active"><b>HEALTH</b> </a></li>
          </div>
        </ul>
      </nav>
    </div>

    <!-- Main Content -->
    <div style="width: calc(100%-200px); min-height:700px; max-height:700px;" class="col shadow-lg rounded overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
    <!-- FOOTER -->
    <div class="row d-flex fixed-bottom justify-content-center bg-color-lively-grey app-footer-text">
        <ul style="list-style: none;" class="">
          <li>
            <p class="text-color-lively-darkgreen justify-content-center"> Developed by Tyler Reed.</p>
          </li>
        </ul>
    </div>
  </div>
</div>

