<form #bconForm="ngForm" (ngSubmit)="getBCON()">
    <div class="fluid-container md-form m-5 align-self-center">
        <h1><b>BCON</b></h1>
        <h3> {{bconBPS.currDate}}</h3>
        <hr>
        <div class="row">
          <button
            class="btn bg-color-lively-darkgreen text-black mb-2"
            type="submit"
            >Fetch BCON</button>
      </div>
  
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr>
                <th>bper</th>
                <th>susp</th>
                <th>sche</th>
                <th>proc</th>
                <th>stop</th>
                <th>hold</th>
                <th>comp</th>
                <th>totl</th>
                <th>run</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bconbp of bconBPS.bps">
                <td>{{bconbp.bper}}</td>
                <td>{{bconbp.susp}}</td>
                <td>{{bconbp.sche}}</td>
                <td>{{bconbp.proc}}</td>
                <td>{{bconbp.stop}}</td>
                <td>{{bconbp.hold}}</td>
                <td>{{bconbp.comp}}</td>
                <td>{{bconbp.totl}}</td>
                <td>{{bconbp.run}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </form>